:root {
  --primary-color: #3498db;
  --main-padding: 16px;
  --font-stack: 'Helvetica', sans-serif;
}

BODY {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: #646b79;
  margin: 0;
}

main {
  flex-grow: 1; /* take all space of screen */
}

@keyframes fade-blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

@keyframes slightly-fade-blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.7; }
}

@keyframes shadow_rolling {
    0% { box-shadow: 0 0 var(--color-2),0 0 var(--color-2),0 0 var(--color-2),0 0 var(--color-2) }
    12% { box-shadow: calc(100 * var(--size)) 0 #fff,0 0 var(--color-2),0 0 var(--color-2),0 0 var(--color-2) }
    25% { box-shadow: calc(110 * var(--size)) 0 #fff,calc(100 * var(--size)) 0 #fff,0 0 var(--color-2),0 0 var(--color-2) }
    36% { box-shadow: calc(120 * var(--size)) 0 #fff,calc(110 * var(--size)) 0 #fff,calc(100 * var(--size)) 0 #fff,0 0 var(--color-2) }
    50% { box-shadow: calc(130 * var(--size)) 0 #fff,calc(120 * var(--size)) 0 #fff,calc(110 * var(--size)) 0 #fff,calc(100 * var(--size)) 0 #fff }
    62% { box-shadow: calc(200 * var(--size)) 0 var(--color-2),calc(130 * var(--size)) 0 #fff,calc(120 * var(--size)) 0 #fff,calc(110 * var(--size)) 0 #fff }
    75% { box-shadow: calc(200 * var(--size)) 0 var(--color-2),calc(200 * var(--size)) 0 var(--color-2),calc(130 * var(--size)) 0 #fff,calc(120 * var(--size)) 0 #fff }
    87% { box-shadow: calc(200 * var(--size)) 0 var(--color-2),calc(200 * var(--size)) 0 var(--color-2),calc(200 * var(--size)) 0 var(--color-2),calc(130 * var(--size)) 0 #fff }
    to { box-shadow: calc(200 * var(--size)) 0 var(--color-2),calc(200 * var(--size)) 0 var(--color-2),calc(200 * var(--size)) 0 var(--color-2),calc(200 * var(--size)) 0 var(--color-2) }
}

/* https://picocss.com/docs/colors */
HEADER {
  padding: 10px;
  background-color: rgb(61, 71, 92);

  animation: slightly-fade-blink 30s linear infinite;
}

.centered {
  width: 60%;
  margin: 10px auto 0;
}

H1, .history_box, .breadcrumb {
  margin: 10px auto;
  color: #fff;
  font-family: monospace;
}

.refresh_status {
  float: right;
  color: #fff;
  font-family: monospace;
}

#refresh_control {
  display: block;
  margin-top: 5px;
}

#loader {
  --color-1: #fff;
  --color-2: rgba(255, 255, 255, 0);
  --size: 1px;

  display: none;
  float: right;
  margin: 10px 100px 0 0;

  width: calc(10 * var(--size));
  height: calc(10 * var(--size));
  border-radius: 50%;
  position: relative;
  color: var(--color-1);
  left: calc(-100 * var(--size));
  box-sizing: border-box;
  animation: shadow_rolling 2s linear infinite
}

#loader.error::after {
  color: #f00;
  display: block;
  width: 250px;
  margin-top: 10px;
  text-align: center;
  content: "network error!";
}

.history_box {
  position: relative;
  height: 200px;
  min-height: 200px;
  resize: vertical;
  overflow-y: auto;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: hsl(220, 19%, 40%);
}

.history_box.fullsize {
  height: fit-content;
}

#history-resizer {
  float: right;
  vertical-align: top;
  padding-top: 0;
}

#history-filter {
  float: right;
  width: 50%;
  height: 20px;
}

#history-filter:not(:placeholder-shown) {
  background-color: #fff8ba;
}

.history {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.history thead {
  position: sticky;
  top: 0;
  background-color: #455068;
  z-index: 1;
}

.history th, .history td {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: rgb(104, 120, 153);
  padding: 5px;
  line-height: 20px;
}

.history th:nth-child(1) { width: 180px; }
.history th:nth-child(3) { width: 350px; }

.history tr.is_actual {
}

.history tr.warning {
    background-color: #d5d581 !important;
    color: black;
}

.history tr.warning.in_focus {
    animation: fade-blink 1.5s linear infinite;
    background-color: #ffff55 !important;
}

.history tr.danger {
    background-color: #d58181 !important;
    color: black;
}

.history tr.danger.in_focus {
    animation: fade-blink 1s linear infinite;
    background-color: #ff5555 !important;
}

.history td BUTTON {
  visibility: hidden;
  float: right;
  padding: 0;
  width: 16px;
  margin-left: 3px;
}

.history td:hover BUTTON {
  visibility: visible;
}


.history A {
    color: #fff;
    text-decoration: none;
}

.history A:hover {
    text-decoration: underline;
}


.history tr.warning A,
.history tr.danger A {
    color: black;
}

.history tr td:nth-child(1),
.history tr td:nth-child(3) {
  white-space: pre-wrap;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  margin-top: 200px;
  background-color: rgb(207, 213, 226);
  color: black;
}

dialog table {
  width: 500px;
}

dialog table th,
dialog table td {
  padding: 10px;
}

dialog table th {
  text-align: left;
}

dialog button {
  float: right;
}



.breadcrumb {
  margin: 20px 0 0;
  font-size: 1.2rem;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.5rem;
  content: "→";
}

.breadcrumb A, .breadcrumb A:visited {
  color: #b0b9d0;
}

.mermaid {
  text-align: center;
}

footer {
  padding: 5px;
  color: rgb(176, 185, 208);
  text-align: center;
}

footer a {
  color: rgb(176, 185, 208);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
